.more {
    width: 16.0rem;
    height: 8.0rem;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.more__a-more {
    background-color: $orange;
    transform: rotate(45deg);
    border-radius: 10px;
    width: 15.0rem;
    height: 15.0rem;
    display: block;
    position: relative;
    left: 50%;
    transform-origin: top left;
}
@mixin l-section__wrapper {
    display: flex;
    flex-flow: column nowrap;
}
.l-section__wrapper {
    @include l-section__wrapper;
}
.l-section__wrapper--first-page {
    @include l-section__wrapper;
    height: 100vh;
}
@mixin l-article__wrapper {
    width: 100%;
    background-color: $orange;
    padding-bottom: 2.0rem;
}
.l-article__wrapper {
    @include l-article__wrapper;
}
.l-article__wrapper.l-fp-padding {
    padding-top: $top-stripeHeight;
    padding-bottom: 3.5rem;
}
.l-article__wrapper.l-regular-padding {
    padding: 7.5rem 0 7.5rem 0;
}
.l-article {
    margin: 0 auto;
    padding: 0 2.5rem 0 2.5rem;
    
    @media (max-width: $breakpoint_1 + 0px) {
        width: 100%;
    }
    @media (min-width: $breakpoint_1 + 1px) {
        width: 1400px;   
    }
}
.slide-show {
//    width: 100%;
//    height: 100%;
    flex: auto;
    background-image: url(../img/highway.jpg);
    background-position: center;
    background-size: cover;
//    background-attachment: fixed;
}
.figures {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    @media (max-width: $breakpoint_2 + 0px) {
        flex-flow: column nowrap;
    }
}
.figures__element {
    display: flex;
    flex-flow: column;
    align-items: center;
}
    
//.art {
//    flex: auto;
//    padding: 0 2.5rem 0 2.5rem;
//    
//    @media (max-width: $breakpoint_1 + 0px) {
//        width: 100%;
//    }
//    @media (min-width: $breakpoint_1 + 1px) {
//        width: 1400px;
//    }
//}
//.art--cover {
//    background-color: #ffae00;
//}
//.l-art {
//    padding: 0 2.5rem;
//    
//    @media (max-width: $breakpoint_1 + 0px) {
//        width: 100%;
//    }
//    @media (min-width: $breakpoint_1 + 1px) {
//        width: 1400px;
//    }

.slider__desc {
    background-color: #ffae00;
    width: 100%;
}
.main-content {
//    padding-top: 10.0rem;
}
@mixin main-content__inner {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.main-content__inner {
    @include main-content__inner;
}
.main-content__inner--100vh {
    @include main-content__inner;
    height: 100vh;    
}
.main-content__inner--100vh::after {
    background: url(../img/highway.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    content: "";
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.main-content__inner--second {
    @include main-content__inner;
    background-color: #ffae00;
    height: 50vh;
    width: 100%;
}