html {
    margin: 0;
    box-sizing: border-box;
    
    @media (max-width: $breakpoint_1 + 0px) {
        font-size: 52.5%;
    }
    
    @media (min-width: $breakpoint_1 + 1px) {
        font-size: 62.5%;
    }
}
body {
    margin: 0;
    background-color: #000;
}
*, *:before, *:after {
  box-sizing: inherit;
}