.m1 { //menu
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    
    @media (max-width: $breakpoint_2 + 0px) {
        font-size: 2.2rem;
    }
}
.s1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
}
.t1 { //paragraphs
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    margin: 0.8rem 0 0.8rem 0;
}
.t2 { //second headings
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    margin: 1.2rem 0 1.2rem 0;
    text-align: center;
    
}
.t3 { //first heading
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 5.0rem;
    margin: 2.0rem 0 2.0rem 0;
}