@charset "UTF-8";
.m1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  text-decoration: none; }
  @media (max-width: 900px) {
    .m1 {
      font-size: 2.2rem; } }

.s1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  font-weight: 400; }

.t1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 2.0rem 0 2.0rem 0; }

.t2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  margin: 1.2rem 0 1.2rem 0;
  text-align: center; }

.t3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 5.0rem;
  margin: 2.0rem 0 4.0rem 0;
  text-align: center; }

.t3 > span {
  font-weight: 600; }

.t-center {
  text-align: center; }

html {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 1366px) {
    html {
      font-size: 52.5%; } }
  @media (min-width: 1367px) {
    html {
      font-size: 62.5%; } }

body {
  margin: 0;
  background-color: #000; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.l-top-stripe {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  top: 0;
  width: 100%;
  background-color: #fff; }

.top-stripe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 2.6rem 2.5rem 2.6rem 2.5rem;
  border-bottom: 10px solid rgba(0, 0, 0, 0.1); }
  @media (max-width: 900px) {
    .top-stripe {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      width: 100%; } }
  @media (min-width: 901px) and (max-width: 1366px) {
    .top-stripe {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      width: 100%; } }
  @media (min-width: 1367px) {
    .top-stripe {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      width: 1400px; } }

.top-stripe__logo {
  width: 18.0rem;
  height: 3.0rem;
  margin: 0.9rem 0 0.9rem 0; }

.top-stripe__text {
  margin: 0 0 0 2.0rem;
  padding-left: 1.0rem;
  border-left: 1px solid #000; }
  @media (max-width: 900px) {
    .top-stripe__text {
      display: none; } }

.logo__link {
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../img/logo--red.svg); }

@media (min-width: 901px) {
  .top-stripe__navigation {
    margin-left: auto; } }

@media (max-width: 900px) {
  .navigation__button {
    position: fixed;
    top: 2.8rem;
    right: 2.7rem;
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center; } }
@media (min-width: 901px) {
  .navigation__button {
    display: none; } }

.navigation__link {
  display: inline-block;
  margin-left: 6.2rem;
  padding: 1.2rem 0 1.2rem 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  @media (max-width: 900px) {
    .navigation__link {
      display: none;
      margin-left: 0;
      text-align: center;
      padding: 2.2rem 0 2.2rem 0; } }

.navigation__link:hover {
  color: #c1272d; }

.navigation__link::after {
  content: "";
  position: relative;
  top: 0.5rem;
  display: block;
  width: 0;
  height: 0.2rem;
  background-color: #c1272d;
  -webkit-transition: width 0.3s;
  transition: width 0.3s; }

.navigation__link:hover::after {
  width: 100%; }

.more {
  width: 16.0rem;
  height: 8.0rem;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.more__a-more {
  background-color: #ffae00;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 10px;
  width: 15.0rem;
  height: 15.0rem;
  display: block;
  position: relative;
  left: 50%;
  -webkit-transform-origin: top left;
          transform-origin: top left; }

.more__a-more::after {
  content: "WIĘCEJ";
  display: inline-block;
  -webkit-transform: rotate(-45deg) translate(-20%, 140%);
          transform: rotate(-45deg) translate(-20%, 140%); }

.l-section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.l-section__wrapper--first-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100vh; }

.l-article__wrapper {
  width: 100%;
  padding-bottom: 2.0rem; }

.l-article__wrapper--orange {
  width: 100%;
  padding-bottom: 2.0rem;
  background-color: #ffae00; }

.l-article__wrapper--white {
  width: 100%;
  padding-bottom: 2.0rem;
  background-color: whitesmoke; }

.l-article__wrapper--clouds {
  width: 100%;
  padding-bottom: 2.0rem;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(../img/above-atmosphere.jpg);
  padding: 10.0rem 0; }

.l-fp-padding {
  padding-top: 13rem;
  padding-bottom: 2.5rem; }

.l-regular-padding {
  padding: 7.5rem 0 7.5rem 0; }

.l-article {
  margin: 0 auto;
  padding: 0 2.5rem 0 2.5rem; }
  @media (max-width: 1366px) {
    .l-article {
      width: 100%; } }
  @media (min-width: 1367px) {
    .l-article {
      width: 1400px; } }

.photo--highway {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  background-image: url(../img/highway.jpg); }

.photo--glass {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  background-image: url(../img/bottles.jpg); }

.figures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  @media (max-width: 900px) {
    .figures {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap; } }

.figures__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.element__img {
  width: 10.0rem;
  margin-bottom: 2.0rem; }

.slider__desc {
  background-color: #ffae00;
  width: 100%; }

.main-content__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-content__inner--100vh {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh; }

.main-content__inner--100vh::after {
  background: url(../img/highway.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  content: "";
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.main-content__inner--second {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffae00;
  height: 50vh;
  width: 100%; }

.l-btn {
  margin: 2.0rem 0 2.0rem 0; }

.l-btns {
  margin: 2.0rem 2.0rem 2.0rem 0; }

.btn {
  background-color: #fff;
  border: 0.2rem solid #ffae00;
  height: 5rem;
  padding: 0 5rem 0 5rem;
  border-radius: 5rem 5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }

.btn:hover {
  background-color: #ffae00;
  color: #fff;
  cursor: pointer; }

.l-btns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem auto; }

.table__wrapper > table {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  border-collapse: collapse;
  width: 100%; }

.table__wrapper > table td, .table__wrapper > table th {
  border: 1px solid #ddd;
  padding: 8px; }

.table__wrapper > table tr:nth-child(even) {
  background-color: #f2f2f2; }

.table__wrapper > table tr:hover {
  background-color: #ddd; }

.table__wrapper > table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffae00;
  color: white; }

@media (max-width: 900px) {
  .js .jsHeading--active .navigation__link {
    display: block; } }

@media (max-width: 900px) {
  .js .jsHeading--active .top-stripe__navigation {
    padding: 2.0rem;
    width: 100%; } }

@media (max-width: 900px) {
  .js .jsHeading .navigation__button {
    background-image: url(../img/hamburger_menu.svg); } }

@media (max-width: 900px) {
  .js .jsHeading--active .navigation__button {
    background-image: url(../img/iks.svg); } }

.js .jsFadeToBlack {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }

.js .jsFadeToBlack--active {
  display: block; }

/*# sourceMappingURL=main-stylesheet.css.map */